
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: gray;
}

.login {
    text-align: right;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    margin: 5px;
}

#conteneur {
    background-color: white;
    width: 70em;
    height: auto;
    margin: auto;
    /* Pour centrer */
    text-align: left;
    border: 2px solid black;
    padding: 1em 2em;
    font-family: Verdana, Arial, serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.content {
    flex-grow: 1;
    padding-left: 20px;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-info img {
    width: 250px;
    height: 250px;
    background: #ddd;
    display: block;
    border: 1px solid #ccc;
}

.player-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.info:last-child {
    border-bottom: none;
}
