<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="header">
        <div class="title">SwissHockey</div>
        <div class="dropdown">
            <button class="dropbtn">Menu ▼</button>
            <div class="dropdown-content">
                <a href="javascript:indexCtrl.loadAccueil();">Home</a>
                <a href="javascript:indexCtrl.loadEquipe();">Equipe</a>
                <a href="javascript:indexCtrl.loadJoueur();">Joueur</a>
                <a href="javascript:indexCtrl.loadMatch();">Match</a>
            </div>
        </div>
    </div>

    <h1 class="page-title">Joueur</h1>

    <div class="grid" id="content"></div>
</body>
</html>